<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>


<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"><%=title%></h3>
        </div>
        <!--<div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><%=title%></li>
            </ol>
        </div>-->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Hostname</th>
                            <th>Plan</th>
                            <th>Expiry</th>
                            <th>Status</th>
                            <th class="text-nowrap">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <%proxies.forEach(function(proxy){%>

                        <tr>
                            <td><%=proxy.hostname%></td>
                            <td><%=proxy.plan%></td>
                            <td>
                                <code><%=proxy.expiry%></code>
                            </td>
                            <td>
                                <% if(proxy.expiry < Date.now()){%>
                                <span class="label label-success">Active</span>
                                <%}else{%>
                                        <span class="label label-danger">Expired</span>
                                    <%}%>
                            </td>
                            <td class="text-nowrap">
                                <a href="/proxy/analytics/<%=proxy._id%>" data-toggle="tooltip" data-original-title="Analytics"> <i class="fa fa-line-chart text-info m-r-10"></i> </a>
                                <a href="/proxy/delete/<%=proxy._id%>" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger"></i> </a>
                            </td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer"> © 2020 mcprot </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<%- include('partials/scripts.ejs') %>
<%- include('partials/footer.ejs') %>